# Python caches
__pycache__/
*.py[cod]

# IDE settings
.vscode/
.idea/

# Environment
venv/
env/
.env

# Data (千万不要把你的大TIF传上去)
*.tif
*.tiff
*.png
*.jpg
*.json

# === 新增：强制允许上传资源和配置文件夹 ===
!assets/
!config/